h1 {

	font-family: Helvetica;
	font-size: 32;
	color: #2850AD;
}

p {

	font-family: helvetica;
	font-size: 24;
	font-weight: bold;
	color: #2850AD;

}

form {

	font-family: helvetica;
	font-size: 24;
	font-weight: bold;
	color: #2850AD; 
}

body {

	background: #FCCC0A;
}